@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

$color1: rgba(36, 123, 160, 1);
$color2: rgba(236, 8, 104, 1);
$color3: rgba(252, 47, 0, 1);
$color4: rgba(236, 125, 16, 1);
$color5: rgba(112, 193, 179, 1);

body {
  font-family: 'Chakra Petch', sans-serif;
  color: $color1;
  background-color: $color5;
}

.header-bar {
  background-color: $color4;
  text-align: right;
  .header-bar_div {
    padding: 1%;
    * {
      padding: 1%;
      text-decoration: none;
      color: $color1;
    };
    *:hover {
      color: white;
    }
    .header-selected {
      color: white;
    }
  }
}

.project-img {
  height: 40vh;
}

.contact {
  * {
    text-decoration: none;
    color: $color1;
  }
}